body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: #aaaaaa;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

table, th, td {
  border: 1px solid black;
}